__pycache__/
*.pt
*.bin
*.ckpt
*.safetensors
*.tmp
data/
datasets/
runs/
wandb/
.env
venv/
.ipynb_checkpoints/
.github/copilot-instructions.md
.venv
checkpoints/
.github/
dataset/
env/
build/
dist/
*.egg-info/
*.py[cod]
**/bin/
**/lib/
**/lib64/
**/lib64
*.lock
*.cfg
*.log
*.log.*
*.bak
**/share/
.idea/
CLAUDE.md
.gitignore
